@import "mixins";
@import "variables";

@import "blocks/page";
@import "blocks/container";
@import "blocks/icon";
@import "blocks/top-actions";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/main";
@import "blocks/fashion";
@import "blocks/section-title";
@import "blocks/widget";
@import "blocks/footer";
//--public-url=/dist/